.card {
  padding: 0.5rem 1rem;
  margin: 0.7rem 0.7rem 0.7rem 0;
  border: 1px solid #767575;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
}