.container .style-detail {
  display: flex;
  flex-wrap: wrap;
}

.container .content-return {
  margin: 10px 0 20px;
  font-size: 1rem;
  font-weight: 600;
}

.container .style-detail .img-style {
  height: auto;
  background-color: #F2F2F2;
  border-radius: 15px;
}

.container .style-detail .img-style .img {
  margin-top: 20%;
  width: 13rem;
}

.container .style-detail .info-style {
  margin: 0 10%;
}

.container .style-detail .info-style .div-information {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text-info {
  margin: 2rem 0;
  font-size: 1.3rem;
  font-weight: 500;
  width: 100%;
  text-align: justify;
}

.backgroung-blue {
  padding: 1% 5% 3%;
  width: 15rem;
  border-radius: 20px;
  background-color: #30A7D7;
  border: 1px solid #30A7D7;
}

@media (max-width: 640px) {
  .container .style-detail .img-style {
    display: block;
    margin: auto;
    margin: 1rem auto;
  }
  .container .style-detail .info-style {
    display: block;
    margin: auto;
  }
}
