@import url('./components/all.css');

.container {
  margin: 5%;
}

.container .card-container {
  display: flex;
  flex-wrap: wrap;
}

.container .search-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container .search-container .title-search {
  display: flex;
  padding-top: 2%;
}

.container .search-container .title-search .img {
  width: 2.5rem;
  height: 2.5rem;
  padding: 20px 10px 10px 0;
}

.container .search-container .title-search .title {
  margin-top: 0.8rem;
  font-size: 1.5rem;
  color: blue;
  font-weight: 600;
  padding: 20px 0 20px;
}

.margin-auto {
  margin: auto;
}

.not-fount {
  padding: 2rem 0;
  text-align: center;
  font-weight: 600;
  color: #767575;
  font-size: 2rem;
}
